<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <%- include('./partials/navigation.ejs') %>
    <h1>Books</h1>
    <% if (books.length === 0) { %>
        <p>No books has been found</p>
    <% } else { %>
        <ul>
            <% books.forEach(book => { %>
                <li>
                    <%= book.title %> 
                    <form action="/book/delete/<%= book.id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            <% }); %>
        </ul>
    <% } %>
</body>
</html>